.form {
    margin: 30px;
    font-size: 1.2rem;
}
.form input[type=text]{
    margin-bottom: 0.5rem;
}
.grid-container {
    width: 50%;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr;
    grid-gap: 10px;
    
    text-align: center;
  }
  .grid-container input[type="checkbox"]{
    width: 100%;
    height: 100%;
  }
 
  .grid-item {
    padding: 10px;
    border: 1px solid black;
  }
  .header-item {
    font-weight: 700;
    border: 2px solid black;
  }
  
@import 'https://fonts.googleapis.com/css?family=Montserrat:300,400,700';

body {
  padding: 0 2em;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}
tr {
    border-color: #34495E;
  }
  th, td {
    margin: .5em 1em;
    }
.rwd-table {
  background: #34495E;
  color: #fff;
  border-radius: .4em;
  overflow: hidden;
  
}
th, td:before {
    color: #dd5;
  }
.flex {
    display: flex;
    width: fit-content;
}
body {
    width: 80%;
    margin: 0 auto;
}
input[type="checkbox"]{
    margin: 0;
    padding: 0;
    width: 20px;
}
.none {
    /* display: none; */
    opacity: 0;
}
.btn {
    padding: 1rem 2rem;
    font-size: 1.4rem;
    font-weight: 700;
    border: 2px solid black;
    border-radius: 5px;
    text-transform: uppercase;
}